@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 240, 240, 240;
  --secondary: 0, 0, 0;
}

body {
  color: rgb(var(--primary));
  background: rgb(var(--secondary));
  font-family: "IBM";
}

@font-face {
  font-family: "IBM";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/ibm.woff") format("woff");
}

@keyframes banner {
  0% {
    background-color: rgba(var(--secondary), 0);
  }
  30% {
    background-color: rgba(var(--secondary), 1);
  }
  50% {
    background-color: rgba(var(--secondary), 1);
  }
  80% {
    background-color: rgba(var(--secondary), 0);
  }
  100% {
    background-color: rgba(var(--secondary), 0);
  }
}
